body {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

/* ESTILO HEADER */

header {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

/* ESTILO SECTION */

section {
    display: flex;
    margin-bottom: 5px;
}

article {
    flex-grow: 2;
}

/* TODO: Remove, just for debug purposes */

header {border: 2px solid blue;}
section {border: 2px solid green;}
footer {border: 2px solid yellow;}
article {border: 2px solid violet;}